* {
    --theme-color: #222;
    font-family: Roboto;
}

h2 {
    text-align: center;
    color: var(--theme-color);
    font-weight: 300;
    font-size: 2rem;
}

body {
    min-width: 95vw;
    min-height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid var(--theme-color);
}

table td {
    padding: 0.1em 0.5em;
}